@inherits LayoutComponentBase

<div class="vertical_stacklayout">
    <NavBar Title="ISCards" />
    <div class="horizontal_stacklayout">
        <SideBar />
        <div class="vertical_stacklayout">
            @Body
        </div>
        
    </div>

</div>